<div class="container">	
	<div class="row">
		<div class="col-sm-6 col-sm-offset-6">
			<h2 class="text-right">Registro de alumnos</h2>
			<%= form_for @developer, :html => {:role => "form"} do |f| %>
				<div class="form-group">
					<%= f.label :name, "Nombre" %>
					<%= f.text_field :name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :last_name, "Apellido" %>
					<%= f.text_field :last_name, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :email, "Email" %>
					<%= f.text_field :email, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :phone, "Telefono" %>
					<%= f.text_field :phone, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :address, "Direccion" %>
					<%= f.text_area :address, class: "form-control" %>
				</div>
				<div class="form-group">
					<%= f.label :why_hack, "¿Por que quieres aplicar?" %>
					<%= f.text_area :why_hack, class: "form-control" %>
				</div>
				<div class="check-box text-right">
					<label>
						<%= f.check_box :scholarship, class: "scholarship" %> Quiero optar por el programa de becas
					</label>
				</div>
				<div class="form-group why_scholarship">
					<%= f.label :why_scholarship, "¿Por que deberias ser seleccionado por un sponsor?" %>
					<%= f.text_area :why_scholarship, class: "form-control" %>
				</div>
				<%= f.submit "Editar", class: "btn btn-primary btn-block"%>
			<% end %>
		</div>
	</div>
</div>

