<div class="container">
  <div class="row developer-info">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="row">
          <div class="col-sm-6">
            <div class="title-show text-center">Nombre</div>
            <h4><%= @developer.name %></h4>
          </div>
          <div class="col-sm-6">
            <div class="title-show text-center">Apellido</div>
            <h4 class="text-right"><%= @developer.last_name %></h4>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6">
            <div class="title-show text-center">Email</div>
            <h4><%= @developer.email %></h4>
          </div>
          <div class="col-sm-6">
            <div class="title-show text-center">Telefono</div>
            <h4 class="text-right"><%= @developer.phone %></h4>
          </div>
        </div>

        <div class="title-show text-center">Direccion</div>
        <h4><%= @developer.address %></h4>

        <div class="title-show text-center">¿Por que Hack?</div>
        <h4><%= @developer.why_hack %></h4>

        <div class="title-show text-center">¿Por que una beca?</div>
        <h4><%= @developer.scholarship ? @developer.why_scholarship : "No opto por una beca" %></h4>
    </div>
  </div>
</div>