<%
  # customized code begin
  @min = 20
  @sponsors = Sponsor.all
  @percent = (@sponsors.length * 100) / @min

  params[:user][:profileable_type] ||= 'Developer'

  perfil = params[:user][:profileable_type]
  if ["developer", "sponsor"].include? perfil.downcase
    child_class_name = perfil.downcase.camelize
    profileable_type = perfil.downcase.camelize
  else
    child_class_name = "Developer"
    profileable_type = "Developer"
  end

  resource.profileable = child_class_name.constantize.new if resource.profileable.nil?

  # customized code end
%>
<div class="container container-bottom">  
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2>Registro de <%= perfil %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= render :partial => "form", 
        :locals => { 
          :resource => resource, :resource_name => resource_name, 
          :profileable_type => profileable_type, :child_class_name => child_class_name 
        } 
      %>
    </div>
    <div class="col-sm-6 text-center">
      <div class="applicants-indicator">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="battery">
              <div class="key-style key-left">
                <%= image_tag "key-left.png" %>
              </div>
              <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" style="width: <%=@percent%>%">
                  <span class="sr-only"><%=@percent%>% Complete</span>
                </div>
                <span class="progress-number">
                  <%=@percent%>%
                </span>
              </div>
              <div class="key-style key-right">
                <%= image_tag "key-right.png" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-sm-offset-1">
        <h4>
          Eres el patrocinante número <%= @sponsors.length + 1 %>, ayúdanos a llegar a <%=@min%> patrocinantes.
        </h4>
      </div>
    </div>
  </div>
</div>
<% #render "devise/shared/links" %>
