<section id="main" class="full-height bienvenido">
  <div class="container">
    <div class="main_info">
      <div>
        <!-- <img src="images/static-logo.png"> -->
        <%= image_tag "static-logo.png" %>
      </div>
      <div>
        <%= image_tag "hack.png" %>
      </div>
      <h1 class="slogan">Academia de formación intensiva de programadores</h1>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <a href="/want_to_be_developer.html" class="btn btn-lg btn-primary btn-main btn-block">Sé un developer</a>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
          <a href="/want_to_be_sponsor.html" class="btn btn-lg btn-info btn-main btn-block">Patrocina un developer</a>
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="col-sm-12 arrow text-center">
        <span data-ref="nav_caracteristicas" class="hicon-fastdown hicon-med white_font nav_arrow"></span>
      </div>
    </div>
  </div>
</section>

<section id="caracteristicas" class="full-height white" >
  <div class="container">
    <header>
      <h1 class="text-center section-title">¿Qué es Hack?</h1>
    </header>
    <article class="row section-module">
      <div class="col-xs-12 col-sm-3 section-image text-center">
        <span class="hicon-uniF741 hicon-big"></span>
      </div>
      <div class="col-xs-12 col-sm-6 section-description text-center section-description-left">
        <h2 class="section-module-title">Experiencia general</h2>
        <p>
          {Hack} es más que un curso intensivo, es una experiencia completa: Un <b>campus</b> donde la dedicación, la innovación y la creatividad se unen para generar autodidactas.
        </p>
      </div>
    </article>
    <article class="row section-module">
      <div class="col-xs-12 col-sm-3 section-image text-center section-image-right">
        <span class="hicon-uniF67B hicon-big"></span>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 section-description  text-center section-description-right">
        <h2 class="section-module-title">4 meses intensivos</h2>
        <p>
          Mientras las universidades y los institutos toman de 3 a 5 años en formar profesionales, {Hack} tiene un enfoque práctico y orientado a retos, formación directo al grano.
        </p>
      </div>
    </article>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a href="/want_to_be_developer.html" class="btn btn-block btn-primary btn-lg">Sé un developer</a>
      </div>
    </div>
  </div>
</section>

<section id="comofunciona" class="full-height azul">
  <div class="container">
    <header>
      <h1 class="text-center section-title">¿Cómo funciona?</h1>
    </header>
    <article class="row section-module">
      <div class="col-xs-12 col-sm-3 section-image text-center">
        <span class="hicon-uniF79C hicon-big"></span>
      </div>
      <div class="col-xs-12 col-sm-6 section-description text-center section-description-left">
        <h2 class="section-module-title">Método Gamificado</h2>
        <p>
          En {Hack} cada participante tendrá un árbol de talentos, niveles y badges en el que cada hacker se especializa en lo que más le gusta desarrollar.
        </p>
      </div>
    </article>
    <article class="row section-module">
      <div class="col-xs-12 col-sm-3 section-image text-center section-image-right">
        <span class="hicon-uniF6E1 hicon-big"></span>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 section-description  text-center section-description-right">
        <h2 class="section-module-title">Preparación Global</h2>
        <p>
          La formación en {Hack} está basada en retos para enseñar a programar sin dedicarse a una tecnología específica, un {Hacker} puede aprender tecnologías nuevas fácilmente.
        </p>
      </div>
    </article>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a href="/want_to_be_developer.html" class="btn btn-block btn-info btn-lg">Sé un developer</a>
      </div>
    </div>
  </div>
</section>

<section id="speed_dating" class="full-height black">
  <div class="container">
    <header>
      <h1 class="text-center section-title">Speed Dating</h1>
    </header>
    <div class="text-center hicon-uniF65C hicon-big"></div>
    <article class="row section-module">
      <div class="col-sm-6 col-sm-offset-3 text-center section-description">
        <p>
          En muchas compañias y emprendimientos hay necesidad de programadores, en {Hack} unimos a los desarrolladores con las oportunidades.
        </p>
      </div>
    </article>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
        <a href="/want_to_be_developer.html" class="btn btn-block btn-primary btn-lg">Sé un developer</a>
      </div>
    </div>
  </div>
</section>

<section id="campus" class="full-height white">
  <div class="container">
    <header>
      <h1 class="text-center section-title">Campus</h1>
    </header>

    <div class="row">
      <div class="col-sm-6 carousel_container">
        <div class="blue-container">
          <div id="carousel-campus" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-campus" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-campus" data-slide-to="1"></li>
              <li data-target="#carousel-campus" data-slide-to="2"></li>
              <li data-target="#carousel-campus" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <%= image_tag "001.jpg" %>
              </div>
              <div class="item">
                <%= image_tag "002.jpg" %>
              </div>
              <div class="item">
                <%= image_tag "003.jpg" %>
              </div>
              <div class="item">
                <%= image_tag "004.jpg" %>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-campus" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-campus" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div><br>
          <p>
            {Hack} es un campus ubicado en ThePool el cual cuenta, con areas verdes, estacionamiento y seguridad las 24hrs. Es un proyecto que surge entre la alianza ThePool- 4Geeks, como iniciativa de una serie de programas educativos.
          </p>
        </div>
      </div>
      <div class="col-sm-6" style="padding: 0;">
        <div class="black-container">
          <div class="black-arrow-left"></div>
          <div id="map_canvas" class="col-sm-12">
            <div ></div> 
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="text-center section-description">
                <h4 class="text-center">Goldsmith #40, Col. Polanco, Ciudad de México, C.P:  11550.</h4>
                <p>
                  Si tienes alguna duda puedes escribirnos a <a href="mailto:rramos@4geeks.co">contacto@hack.4geeks.co</a>
                </p>
                <div class="text-center"><strong>Tel: (55) 6387 5091 </strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>

<!-- <section id="detalle" class="full-height azul">
  <div class="container">
    <header>
      <h1 class="text-center section-title">Mentores</h1>
    </header>
    <div class="row text-center">
      <div class="col-sm-2 col-sm-offset-1">
        <div class="row">
          <div class="col-sm-12">
            <div class="mentores">
              <img src="http://placehold.it/500x500">    
            </div>
            <div class="row text-center mentores-info">
              <div class="white_top_caret"></div>
              <h3>Romer Ramos</h3>
              <h5>4Geeks</h5>
            </div>
          </div>
        </div>
      </div>  
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="mentores">
              <img src="http://placehold.it/500x500">    
            </div>
            <div class="row text-center mentores-info">
              <div class="white_top_caret"></div>
              <h3>Anibal Rojas</h3>
              <h5>HasManyDevelopers</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="mentores">
              <img src="http://placehold.it/500x500">    
            </div>
            <div class="row text-center mentores-info">
              <div class="white_top_caret"></div>
              <h3>Daniel Espinoza</h3>
              <h5>Escuela Web</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="mentores">
              <img src="http://placehold.it/500x500">    
            </div>
            <div class="row text-center mentores-info">
              <div class="white_top_caret"></div>
              <h3>Nestor Cachucha</h3>
              <h5>Aprovecha</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12">
            <div class="mentores">
              <img src="http://placehold.it/500x500">    
            </div>
            <div class="row text-center mentores-info">
              <div class="white_top_caret"></div>
              <h3>Omar Marquez</h3>
              <h5>Scrum</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row editorial">
      <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="row texto-ceo">
          <p>{Hack} es una academia que se encarga de formar los developers del futuro. No solo los preparamos para cualquier reto técnico, también los presentamos a los empredendores y empresas que estan cambiando el país.</p>

          <p>En {Hack} todo comienza a las 9am con el desayuno acompañado de las mejores discusiones: Desde "Superman vs Batman" hasta "AngularJS vs BackboneJS". A las 10am futuros hackers recibirán instrucciones de los mentores para poder dedicarse a los retos que ocuparán el resto del día. Queremos que {Hack} sea el lugar en donde las ganas de aprender sean la gasolina de los futuros startups.</p>
        </div>
        <div class="row text-right">
          <h3>Romer Ramos - CEO</h3>  
        </div>
      </div>
    </div>
  </div>
</section> -->