<section id="main" class="full-height white">
  <div class="container">
    <div class="main_info">
      <div>
        <%= image_tag "static-logo.png" %>
      </div>
      <h1>Descubre, programa, inventa</h1>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <a href="/developers/sign_up" class="btn btn-lg btn-info btn-main btn-block">Aplica ahora</a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 arrow text-center">
          <span data-ref="nav_planificacion" class="hicon-fastdown hicon-med black_font nav_arrow"></span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="planificacion" class="planificacion azul">
  <div class="container">
    <header>
      <h1 class="text-center section-title">Planificación</h1>
    </header>
      <h2 class="text-center">Un dia en</h2>
      <div class="row text-center">
        <h2 style="margin-bottom: 50px;">
          <%= image_tag "hack.png", :class => "invert" %>
        </h2>
      </div>
  </div>
  <div class="planificacion white">
    <div class="container">

      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-5 col-sm-3 col-sm-offset-2">
          <div class="plan_box">
            Desayuno
          </div>
          <div class="dotted_line"></div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <div class="time_box time_right text-right">
            8:00 am
            <div class="blue_dot dot_right"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5">
          <p class="blue_text plan_text">
            El punto de encuentro es en la cocina, con un desayuno para comenzar un día productivo.<br>
            Desayunos incluidos
          </p>
        </div>
      </div>
      <div class="full_dotted_line"></div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-5">
          <p class="blue_text plan_text">
            Nuestros mentores muestran las herramientas minimas necesarias para que cada alumno pueda afrontar los desafios del día.
          </p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <div class="time_box time_left text-left">
            9:00 am
            <div class="blue_dot dot_left"></div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-5">
          <div class="plan_box">
            <div class="double_line">
              Mentor <br>
              Hack 1
            </div>
          </div>
          <div class="dotted_line"></div>
        </div>
      </div>
      <div class="full_dotted_line"></div>
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-5 col-sm-3 col-sm-offset-2">
          <div class="plan_box">
            Retos
          </div>
          <div class="dotted_line small"></div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <div class="time_box time_right text-right">
            10:30 am
            <div class="blue_dot dot_right"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5">
          <p class="blue_text plan_text">
            Una vez terminada la mentoría comienzan los retos, los cuales te acreditaran logros en tu perfil de usuario.
          </p>
        </div>
      </div>
      
    </div>
  </div>
  <div class="blue_plan">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-5 col-sm-3 col-sm-offset-2">
          <div class="dotted_line small"></div>
        </div>
      </div>
      <div class="full_dotted_line"></div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-5">
          <p class="white_text plan_text">
            Despues de varios retos, recargamos energías por 1hr para luego regresar al salón de clases.
          </p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <div class="white_time_box time_left text-left">
            1:00 pm
            <div class="white_dot dot_left"></div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-5">
          <div class="white_plan_box">
            Almuerzo
          </div>
          <div class="dotted_line"></div>
        </div>
      </div>
      <div class="full_dotted_line"></div>
      <div class="row">
        <div class="col-md-2 col-md-offset-5 col-xs-5 col-sm-3 col-sm-offset-2">
          <div class="white_plan_box">
            <div class="double_line">
              Mentor <br>
              Hack 2
            </div>
          </div>
          <div class="dotted_line"></div>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <div class="white_time_box time_right text-right">
            2:00 pm
            <div class="white_dot dot_right"></div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-5">
          <p class="white_text plan_text">
            Nuestros mentores muestran nuevas tecnologias, y hacen una preparacion para la siguiente oleada de retos.
          </p>
        </div>
      </div>
      <div class="full_dotted_line"></div>
      <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-6 col-xs-5">
          <p class="white_text plan_text">
            Esta vez son mas dificiles!! Resolver muchos de estos logros tendran sorpresas asociadas.
          </p>
        </div>
        <div class="col-md-1 col-sm-1 col-xs-2">
          <div class="white_time_box time_left text-left">
            3:00 pm
            <div class="white_dot dot_left"></div>
          </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-5">
          <div class="white_plan_box">
            Retos
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="programacion" class="full-height planificacion white" style="z-index: 999;">
  <div class="container" style="padding-bottom: 0; background-color: #fff;">
    <div class="row">
      <div class="col-sm-12 text-center">
        <header>
          <h1 class="text-center section-title blue_text" style="padding-bottom: 0; background-color: #fff; margin-bottom: 0; padding-bottom: 0.5em;">Programación</h1>
        </header>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center" style="padding: 0;">
      <ul id="month_planning" class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#home" data-toggle="tab">
            <%= image_tag "month.png", :class => "month_active" %>
            <%= image_tag "black-hexagon.png", :class => "month_unactive" %>
            <div class="month_title">
              Mes 1
            </div>
          </a>
        </li>
        <li>
          <a href="#profile" data-toggle="tab">
            <%= image_tag "month.png", :class => "month_active" %>
            <%= image_tag "black-hexagon.png", :class => "month_unactive" %>
            <div class="month_title">
              Mes 2
            </div>
          </a>
        </li>
        <li>
          <a href="#messages" data-toggle="tab">
            <%= image_tag "month.png", :class => "month_active" %>
            <%= image_tag "black-hexagon.png", :class => "month_unactive" %>
            <div class="month_title">
              Mes 3
            </div>
          </a>
        </li>
        <li>
          <a href="#settings" data-toggle="tab">
            <%= image_tag "month.png", :class => "month_active" %>
            <%= image_tag "black-hexagon.png", :class => "month_unactive" %>
            <div class="month_title">
              Mes 4
            </div>
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div id="month_content" class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="container" style="padding: 100px 15px;">
            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 1</div>
                <h4 class="white_text">Aprendiendo a aprender</h4> 
                <h5 class="white_text">Introduccion a {Hack} + HTML + CSS</h5>
              </div>
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 2</div>
                <h4>No me hagas pensar!</h4> 
                <h5>Como trabajar? + UI/UX + Frameworks CSS</h5>
              </div>
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 3</div>
                <h4>Flujo y control</h4> 
                <h5>Algoritmos + Inicio Javascript</h5>
              </div>
              <div class="col-sm-3 text-center"style="background-color: #035194; padding-bottom: 5px;">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 4</div>
                <h4>Crear Internet</h4> 
                <h5>Principios de administración de sistemas</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="profile">
          <div class="container" style="padding: 100px 15px;">
            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 5</div>
                <h4 class="white_text">Paginas web vs Sistemas web</h4> 
                <h5 class="white_text">Introduccion al backend + SQL</h5>
              </div>
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 6</div>
                <h4>Hola Mundo</h4> 
                <h5>Programacion Orientada a Objetos + TDD + Ruby</h5>
              </div>
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 7</div>
                <h4>Frameworks (Desde el server)</h4> 
                <h5>Organizando un sistema: Donde van las cosas? + Rails</h5>
              </div>
              <div class="col-sm-3 text-center"style="background-color: #035194; padding-bottom: 5px;">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 8</div>
                <h4>No te repitas!</h4> 
                <h5>Reutilizar codigo + librerias + Servicios Web: SOAP/REST</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="messages">
          <div class="container" style="padding: 100px 15px;">
            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 9</div>
                <h4 class="white_text">Frameworks (Desde el cliente)</h4> 
                <h5 class="white_text">DOM + JQuery + Angular</h5>
              </div>
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 10</div>
                <h4>Refactor + Testing</h4> 
                <h5>Pruebas + Refactor + CodeReview</h5>
              </div>
              <div class="col-sm-3 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 11</div>
                <h4>Jedi Week!</h4> 
                <h5>Codewars + Free for all!!!</h5>
              </div>
              <div class="col-sm-3 text-center"style="background-color: #035194; padding-bottom: 5px;">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 12</div>
                <h4>FINAL HACK</h4> 
                <h5>Proyecto Final + Mentoria a la siguiente promo</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="settings">
          <div class="container" style="padding: 100px 15px;">
            <div class="row">
              <div class="col-sm-9 text-center">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 13-15</div>
                <h4>FINAL HACK</h4> 
                <h5>Proyecto Final + Mentoria a la siguiente promo</h5>
              </div>
              <div class="col-sm-3 text-center"style="background-color: #035194; padding-bottom: 5px;">
                <div class="pill col-sm-4 col-sm-offset-4 white_pill text-center">Semana 16</div>
                <h4>Speed Dating</h4> 
                <h5>Desarrolladores + Emprendedores/Empresas</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section id="precio" class="full-height white">
  <div class="container">
    <header>
      <h1 class="text-center section-title titulo-seccion">Precio</h1>
    </header>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <div class="white_box_o">
          <div class="row">
            <div class="titulo-lugar col-sm-12 text-center">
              Mexico DF - Polanco
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 precio text-center">
              5.500$
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 fechas_o blue_text">
              <!-- 10 Marzo 2014 - 27 Junio 2014 -->
              Aun se aceptan aplicaciones.
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 fechas_o blue_text">
              Lun a Vie desde las 8am.
            </div>
          </div>
          <div class="row aplica">
            <div class="col-sm-12 col-sm-offset-0 col-xs-8 col-xs-offset-2">
              <a href="/developers/new" class="btn btn-block btn-lg btn-apply">Aplica ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="blue-box price-info">
          <div class="row text-center">
            <div class="col-sm-12 text-center">
              <h3>Preinscripción - 300$</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center aclaratoria">
              Pagado luego de ser admitido en {Hack}.
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-12">
              <h3>Inscripción - 1.700$ </h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center aclaratoria">
              Pagado una semana antes de comenzar clases.
            </div>
          </div>
          <div class="row text-center">
            <div class="col-sm-12">
              <h3>Mensualidad - 575$</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center aclaratoria">
              Pagado al inicio de cada mes por <b>6 MESES</b>.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 aclaratoria text-center">
        <div class="titulo-beca">¿Quieres ser un {Hacker} pero no puedes pagarlo?</div>
      </div>
      <div class="col-sm-12 text-center">
        <div class="texto-beca"><b>Aplica</b> y puedes optar por el programa de becas de nuestros sponsors.</div>
      </div>
    </div>
  </div>
</section>