<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @sponsor.last_name %>
</p>

<p>
  <strong>Personal email:</strong>
  <%= @sponsor.email %>
</p>

<p>
  <strong>Personal phone:</strong>
  <%= @sponsor.phone %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @sponsor.company_name %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @sponsor.company_email %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @sponsor.company_phone %>
</p>

<p>
  <strong>Active:</strong>
  <%= @sponsor.active %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
