<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
  <!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
  <![endif]-->
    <!--[if IE 8]>
    <html class="no-js lt-ie9">
    <![endif]-->
      <!--[if gt IE 8]>
      <!-->
      <html>
      <!--<![endif]-->
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <%= csrf_meta_tags %>
        
        <title>. : The Pool : .</title>
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400|Ubuntu:300,400|Roboto:400,300,100|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="fonts/hackfont/style.css"> -->
        <!-- build:css(.tmp) styles/main.css -->
        <!-- <link rel="stylesheet" href="bower_components/bootstrap-sass/dist/css/bootstrap.css"> -->
        <!-- <link rel="stylesheet" href="styles/main.css"> -->
        <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag "hackfont/style", media: "all", "data-turbolinks-track" => true%>
        <%= stylesheet_link_tag "jquery.circliful", media: "all", "data-turbolinks-track" => true %>
        <%= favicon_link_tag "favicon.ico" %>
        <!-- <link rel="stylesheet" type="text/css" href="/assets/hackfont/style.css" > -->
        
        <!-- endbuild -->
      </head>
      <body>
        <!--[if lt IE 7]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong>
          browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a>
          to improve your experience.
        </p>
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
          <!-- <div class="want-to-be left-button">
            <a href="/want_to_be_developer.html" class="btn btn-lg btn-white btn-main btn-block">
              DEVELOPER
            </a>
          </div>
          <div class="want-to-be right-button">
            <a href="/want_to_be_sponsor.html" class="btn btn-lg btn-white btn-main btn-block">
              SPONSOR
            </a>
          </div> -->
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="row">
                <div class="col-xs-6 col-sm-12 text-center">
                  <a href="../" class="logo">
                    <%= image_tag "logo.png" %>
                  </a>
                </div>
              </div>
            </div>
            <nav id="categorias" class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
              
              <ul id="cat_ul" class="nav navbar-nav">
                
                <li>
                  <a class="nav_main active" data-offsettop="60" href="#main" id="nav#main">NOSOTROS</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_caracteristicas" data-offsettop="60" href="#caracteristicas" id="nav#caracteristicas">MENTORES</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_comofunciona" data-offsettop="60" href="#comofunciona" id="nav#comofunciona">¿Qué es The Pool?</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_speed_dating" data-offsettop="60" href="#speed_dating" id="nav#speed_dating">¿Qué ofrece The Pool?</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                
              </ul>

            </nav>

            <div class="caret_header_2"></div>

          </div>

          <div class="caret_header_3"></div>

        </header>
        
        <section id="main" class="full-height bienvenido">
          <div class="container">
            <div class="main_info">
              <p>
                <div>
                  <%= image_tag "ceramic.png" %>
                </div>
              </p>
              <p>
                <div class="slogan">
                  <h1>CLUB DE EMPRENDEDORES</h1>
                  <h2>Where Talent Meets Growth</h2>
                </div>
              </p>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                  <a href="#" class="btn btn-white btn-block btn-large btn-flat">
                    Conoce nuestros mentores
                  </a>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12 arrow text-center">
                <span data-ref="nav_caracteristicas" class="hicon-fastdown hicon-med white_font nav_arrow"></span>
              </div>
            </div>
          </div>
        </section>

        <section id="caracteristicas" class="full-height gray" >
          <div class="container">
            <header>
              <div class="row">
                <div class="col-sm-4 col-sm-offset-4 section-title">
                  <h1 class="text-center">Mentores</h1>
                </div>
              </div>
            </header>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-1.png" %>
                </div>
                <h3>LUIS X BARRIOS</h3>
                <p>
                  Director general The Pool
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-2.png" %>
                </div>
                <h3>PABLO SLOUGH</h3>
                <p>
                  Director de Google México
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-3.png" %>
                </div>
                <h3>FERNANDO FABRÉ</h3>
                <p>
                  Presidente Endeavor Global
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-4.png" %>
                </div>
                <h3>HEBERTO MOLINA</h3>
                <p>
                  Booz & Co.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-5.png" %>
                </div>
                <h3>PILAR AGUILAR</h3>
                <p>
                  Directora General Endeavor México
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-6.png" %>
                </div>
                <h3>JUAN SALDIVAR</h3>
                <p>
                  Fundador y CEO de SWStrategists
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-7.png" %>
                </div>
                <h3>LUIS EDUARDO BARRIOS</h3>
                <p>
                  Fundador y CEO de Hoteles City Express
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-8.png" %>
                </div>
                <h3>ÁLVARO RODRÍGUEZ</h3>
                <p>
                  Co-Fundador y CEO de IGNIA
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-9.png" %>
                </div>
                <h3>PATRICIO VILLALOBOS</h3>
                <p>
                  Co-Fundador Underdog
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-10.png" %>
                </div>
                <h3>ISAAC LEKACH</h3>
                <p>
                  Director de Accelerator Program para Entrepreneurs Organization
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-11.png" %>
                </div>
                <h3>CARLOS GÓMEZ</h3>
                <p>
                  Presidente  de Cascada Ventures y del Consejo Endeavor México
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-12.png" %>
                </div>
                <h3>KARLA BERMAN</h3>
                <p>
                  Products & Solutions Google
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-13.png" %>
                </div>
                <h3>JOY R. SEN</h3>
                <p>
                  Xynertia
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-14.png" %>
                </div>
                <h3>RODRIGO MAYO</h3>
                <p>
                  Bain & Company
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-15.png" %>
                </div>
                <h3>LEONARDO GÓMEZ</h3>
                <p>
                  Fundador de Agencia Roja y Brutal Content
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-16.png" %>
                </div>
                <h3>KAREN GILCHRIST</h3>
                <p>
                  Country Manager Lenddo.mx
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-17.png" %>
                </div>
                <h3>ARGEL BECERRA</h3>
                <p>
                  Executive Director Global Corporate Banking JP Morgan
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-18.png" %>
                </div>
                <h3>MIGUEL RAMÍREZ LOMBANA</h3>
                <p>
                  Co-Fundador de Underdog
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-19.png" %>
                </div>
                <h3>FERNANDO DE HARO</h3>
                <p>
                  Fundador BAG
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-20.png" %>
                </div>
                <h3>MARÍA TERESA GERARD</h3>
                <p>
                  Líder en agencia de medios digitales SWStrategists
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-21.png" %>
                </div>
                <h3>ANDRÉS MIJARES</h3>
                <p>
                  Director de Innovación en Banamex
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-22.png" %>
                </div>
                <h3>JUAN IGNACIO LECUMBERRI</h3>
                <p>
                  Director General Grupo Daytona
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-23.png" %>
                </div>
                <h3>MARIANA CARMELO</h3>
                <p>
                  Fundadora BTL Vértigo
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-24.png" %>
                </div>
                <h3>RODRIGO S. GONZÁLEZ</h3>
                <p>
                  Fundador y CEO de DaVinci Group
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-25.png" %>
                </div>
                <h3>ALEJANDRO DIEZ BARROSO</h3>
                <p>
                  Fundador DILA Capital
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-26.png" %>
                </div>
                <h3>FERNANDO MENDIVIL</h3>
                <p>
                  Co-Fundador Amplemind
                </p>
              </div>
              <div class="col-sm-3 text-center">
                <div class="mentor">
                  <%= image_tag "mentor-27.png" %>
                </div>
                <h3>JOSÉ  ACHAR HARARI</h3>
                <p>
                  CEO Grupo Dapinti
                </p>
              </div>
            </div>

          </div>
        </section>

        <section id="comofunciona" class="full-height white">
          <div class="container">
            <header>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3 section-title">
                  <h1 class="text-center">¿Qué es The Pool?</h1>
                </div>  
              </div>
            </header>
            <article class="row section-module">
              <div class="col-xs-12 col-sm-3 section-image text-center">
                <span class="hicon-uniF014 hicon-big"></span>
              </div>
              <div class="col-xs-12 col-sm-6 section-description text-center section-description-left">
                <p class="large-text">
                  Es un club para los emprendedores. Nuestro objetico común es desarrollar y hacer crecer nuevas empresas que mejoran la vida. Nuestros miembros son un equiipo que inspira, comparte y aprende de las experiencias de los demás.
                </p>
              </div>
            </article>
            <article class="row section-module">
              <div class="col-xs-12 col-sm-3 section-image text-center section-image-right">
                <span class="hicon-uniF739 hicon-big"></span>
              </div>
            </article>
          </div>
        </section>

        <section id="speed_dating" class="full-height light-blue">
          <div class="container">
            <header>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3 section-title">
                  <h1 class="text-center">¿Qué ofrece The Pool?</h1>
                </div>
              </div>
            </header>
            <div class="text-center hicon-port hicon-big"></div>
            <article class="row section-module">
              <div class="col-sm-6 col-sm-offset-3 text-center section-description">
                <p class="large-text">
                  Ofrece a los emprendedores un espacio único de trabajo, mentoría personalizada, aprendizaje continuo y una amplia red de contactos para que no tengas que lanzarte a aguas profundas sin ayuda
                </p>
              </div>
            </article>
          </div>
        </section>

        <section id="" class="full-height gray" >
          <div class="container">
            <div class="center-title">
              <h1>
                ¡NUNCA NADES SOLO<br>
                NADA CON NOSOTROS!
              </h1>
            </div>
          </div>  
        </section>

        <section id="" class="full-height white">
          <div id="thepool-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#thepool-carousel" data-slide-to="0" class=""></li>
              <li data-target="#thepool-carousel" data-slide-to="1" class=""></li>
              <li data-target="#thepool-carousel" data-slide-to="2" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active growth">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h1 class="text-center">
                        <%= image_tag "growth-icon.png" %>
                      </h1>
                      <h2 class="text-center">CRECIMIENTO</h2>
                      <p class="text-justify">
                        The pool será el trampolín que te ayudara en reducir la curva de aprendizaje como emprendedor ofreciendote sesiones de mentoría personalizadas con expertos en distintas industrias. También Programas de Aceleración e Incubación, cursos y foros que mejorarán tus destrezas relacionadas con negocios, mercadotecnia y tecnología.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item white-blue">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h1 class="text-center">
                        <%= image_tag "community-icon.png" %>
                      </h1>
                      <h2 class="text-center">COMUNIDAD</h2>
                      <p class="text-justify">
                        Se parte de nuestro club, creado especificamente para apoyar a nuevas generaciones de emprendedores en cumplir sus objetivos de vida. Convive, aprende y conoce a personas que al igual que tú, buscan crecer o desarrollar su negocio.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item growth">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <h1 class="text-center">
                        <%= image_tag "networking-icon.png" %>
                      </h1>
                      <h2 class="text-center">NETWORKING</h2>
                      <p class="text-justify">
                        Asiste y participa en los eventos de networking y vinculación empresarial, foros para presentar tus ideas y levantar fondos; pero sobretodo ten la oportunidad de conocer gente con destrezas complementarias o similares a ti.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#thepool-carousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thepool-carousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </section>

        <footer>
          <div class="container">
            <div class="col-sm-3">
              <h3 class="footer-title">
                CONTACTO
              </h3>
              <div class="row">
                <div class="col-sm-2 text-center">
                  <p>
                    <span class="hicon-phone"></span>
                  </p>
                </div>
                <div class="col-sm-10">
                  +52 (55) 6387 5091
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2 text-center">
                  <p>
                    <span class="hicon-email"></span>
                  </p>
                </div>
                <div class="col-sm-10">
                  hola@thepool.mx
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2 text-center">
                  <p>
                    <span class="hicon-place"></span>
                  </p>
                </div>
                <div class="col-sm-10">
                  GOLDSMITH 40 COL. POLANCO, CIUDAD DE MÉXICO 11550.
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <h3 class="footer-title">
                BLOG
              </h3>
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <a href="#">
                      Encuentra al mejor confundador
                    </a>
                  </p>
                  <p>
                    <a href="#">
                      Nadando como los salmones
                    </a>
                  </p>
                  <p>
                    <a href="#">
                      Depredador o emprendedor
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <h3 class="footer-title">
                PRENSA
              </h3>
              <div class="row">
                <div class="col-sm-12">
                  <p>
                    <a href="#">
                      Publimetro
                    </a>
                  </p>
                  <p>
                    <a href="#">
                      Dinero en imagen
                    </a>
                  </p>
                  <p>
                    <a href="#">
                      Soy entrepreneur
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <h3 class="footer-title">
                REDES
              </h3>
              <div class="row">

              </div>
            </div>
          </div>
        </footer>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>  
        
        <%= javascript_include_tag "application" %>
        <script>
        /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');*/
       </script>

      

     </body>
</html>