<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
  <!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
  <![endif]-->
    <!--[if IE 8]>
    <html class="no-js lt-ie9">
    <![endif]-->
      <!--[if gt IE 8]>
      <!-->
      <html>
      <!--<![endif]-->
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <%= csrf_meta_tags %>
        
        <title>. : The Pool : .</title>
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400|Ubuntu:300,400|Roboto:400,300,100|Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="fonts/hackfont/style.css"> -->
        <!-- build:css(.tmp) styles/main.css -->
        <!-- <link rel="stylesheet" href="bower_components/bootstrap-sass/dist/css/bootstrap.css"> -->
        <!-- <link rel="stylesheet" href="styles/main.css"> -->
        <%= stylesheet_link_tag "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag "hackfont/style", media: "all", "data-turbolinks-track" => true%>
        <%= stylesheet_link_tag "jquery.circliful", media: "all", "data-turbolinks-track" => true %>
        <%= favicon_link_tag "favicon.ico" %>
        <!-- <link rel="stylesheet" type="text/css" href="/assets/hackfont/style.css" > -->
        
        <!-- endbuild -->
      </head>
      <body>
        <!--[if lt IE 7]>
        <p class="browsehappy">
          You are using an <strong>outdated</strong>
          browser. Please
          <a href="http://browsehappy.com/">upgrade your browser</a>
          to improve your experience.
        </p>
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
          <!-- <div class="want-to-be left-button">
            <a href="/want_to_be_developer.html" class="btn btn-lg btn-white btn-main btn-block">
              DEVELOPER
            </a>
          </div>
          <div class="want-to-be right-button">
            <a href="/want_to_be_sponsor.html" class="btn btn-lg btn-white btn-main btn-block">
              SPONSOR
            </a>
          </div> -->
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="row">
                <div class="col-xs-6 col-sm-12 text-center">
                  <a href="../" class="logo">
                    <%= image_tag "hack.png" %>
                  </a>
                </div>
              </div>
            </div>
            <nav id="categorias" class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
              
              <ul id="cat_ul" class="nav navbar-nav">
                
                <li>
                  <a class="nav_main active" data-offsettop="60" href="#main" id="nav#main">Inicio</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_caracteristicas" data-offsettop="60" href="#caracteristicas" id="nav#caracteristicas">¿Qué es hack?</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_comofunciona" data-offsettop="60" href="#comofunciona" id="nav#comofunciona">¿Cómo funciona?</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_speed_dating" data-offsettop="60" href="#speed_dating" id="nav#speed_dating">Speed dating</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                <li>
                  <a class="nav_campus" data-offsettop="60" href="#campus" id="nav#campus">Campus</a>

                  <div class="caret_header">
                    <span></span>
                  </div>

                </li>
                
              </ul>

            </nav>

            <div class="caret_header_2"></div>

          </div>

          <div class="caret_header_3"></div>

        </header>
        
        <section id="main" class="full-height bienvenido">
          <div class="container">
            <div class="main_info">
              <div>
                <!-- <img src="images/static-logo.png"> -->
                <%= image_tag "static-logo.png" %>
              </div>
              <div>
                <%= image_tag "hack.png" %>
              </div>
              <h1 class="slogan">Academia de formación intensiva de programadores</h1>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                  <a href="/want_to_be_developer.html" class="btn btn-lg btn-primary btn-main btn-block">Sé un developer</a>
                </div>
                <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
                  <a href="/want_to_be_sponsor.html" class="btn btn-lg btn-info btn-main btn-block">Patrocina un developer</a>
                </div>
              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12 arrow text-center">
                <span data-ref="nav_caracteristicas" class="hicon-fastdown hicon-med white_font nav_arrow"></span>
              </div>
            </div>
          </div>
        </section>

        <section id="caracteristicas" class="full-height white" >
          <div class="container">
            <header>
              <h1 class="text-center section-title">¿Qué es Hack?</h1>
            </header>
            <article class="row section-module">
              <div class="col-xs-12 col-sm-3 section-image text-center">
                <span class="hicon-uniF741 hicon-big"></span>
              </div>
              <div class="col-xs-12 col-sm-6 section-description text-center section-description-left">
                <h2 class="section-module-title">Experiencia general</h2>
                <p>
                  {Hack} es más que un curso intensivo, es una experiencia completa: Un <b>campus</b> donde la dedicación, la innovación y la creatividad se unen para generar autodidactas.
                </p>
              </div>
            </article>
            <article class="row section-module">
              <div class="col-xs-12 col-sm-3 section-image text-center section-image-right">
                <span class="hicon-uniF67B hicon-big"></span>
              </div>
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 section-description  text-center section-description-right">
                <h2 class="section-module-title">4 meses intensivos</h2>
                <p>
                  Mientras las universidades y los institutos toman de 3 a 5 años en formar profesionales, {Hack} tiene un enfoque práctico y orientado a retos, formación directo al grano.
                </p>
              </div>
            </article>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <a href="/want_to_be_developer.html" class="btn btn-block btn-primary btn-lg">Sé un developer</a>
              </div>
            </div>
          </div>
        </section>

        <section id="comofunciona" class="full-height azul">
          <div class="container">
            <header>
              <h1 class="text-center section-title">¿Cómo funciona?</h1>
            </header>
            <article class="row section-module">
              <div class="col-xs-12 col-sm-3 section-image text-center">
                <span class="hicon-uniF79C hicon-big"></span>
              </div>
              <div class="col-xs-12 col-sm-6 section-description text-center section-description-left">
                <h2 class="section-module-title">Método Gamificado</h2>
                <p>
                  En {Hack} cada participante tendrá un árbol de talentos, niveles y badges en el que cada hacker se especializa en lo que más le gusta desarrollar.
                </p>
              </div>
            </article>
            <article class="row section-module">
              <div class="col-xs-12 col-sm-3 section-image text-center section-image-right">
                <span class="hicon-uniF6E1 hicon-big"></span>
              </div>
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 section-description  text-center section-description-right">
                <h2 class="section-module-title">Preparación Global</h2>
                <p>
                  La formación en {Hack} está basada en retos para enseñar a programar sin dedicarse a una tecnología específica, un {Hacker} puede aprender tecnologías nuevas fácilmente.
                </p>
              </div>
            </article>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <a href="/want_to_be_developer.html" class="btn btn-block btn-info btn-lg">Sé un developer</a>
              </div>
            </div>
          </div>
        </section>

        <section id="speed_dating" class="full-height black">
          <div class="container">
            <header>
              <h1 class="text-center section-title">Speed Dating</h1>
            </header>
            <div class="text-center hicon-uniF65C hicon-big"></div>
            <article class="row section-module">
              <div class="col-sm-6 col-sm-offset-3 text-center section-description">
                <p>
                  En muchas compañias y emprendimientos hay necesidad de programadores, en {Hack} unimos a los desarrolladores con las oportunidades.
                </p>
              </div>
            </article>
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <a href="/want_to_be_developer.html" class="btn btn-block btn-primary btn-lg">Sé un developer</a>
              </div>
            </div>
          </div>
        </section>

        <section id="campus" class="full-height white">
          <div class="container">
            <header>
              <h1 class="text-center section-title">Campus</h1>
            </header>

            <div class="row">
              <div class="col-sm-6 carousel_container">
                <div class="blue-container">
                  <div id="carousel-campus" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#carousel-campus" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-campus" data-slide-to="1"></li>
                      <li data-target="#carousel-campus" data-slide-to="2"></li>
                      <li data-target="#carousel-campus" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <%= image_tag "001.jpg" %>
                      </div>
                      <div class="item">
                        <%= image_tag "002.jpg" %>
                      </div>
                      <div class="item">
                        <%= image_tag "003.jpg" %>
                      </div>
                      <div class="item">
                        <%= image_tag "004.jpg" %>
                      </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-campus" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-campus" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div><br>
                  <p>
                    {Hack} es un campus ubicado en ThePool el cual cuenta, con areas verdes, estacionamiento y seguridad las 24hrs. Es un proyecto que surge entre la alianza ThePool- 4Geeks, como iniciativa de una serie de programas educativos.
                  </p>
                </div>
              </div>
              <div class="col-sm-6" style="padding: 0;">
                <div class="black-container">
                  <div class="black-arrow-left"></div>
                  <div id="map_canvas" class="col-sm-12">
                    <div ></div> 
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="text-center section-description">
                        <h4 class="text-center">Goldsmith #40, Col. Polanco, Ciudad de México, C.P:  11550.</h4>
                        <p>
                          Si tienes alguna duda puedes escribirnos a <a href="mailto:rramos@4geeks.co">contacto@hack.4geeks.co</a>
                        </p>
                        <div class="text-center"><strong>Tel: (55) 6387 5091 </strong></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </section>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>  
        
        <%= javascript_include_tag "application" %>
        <script>
        /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');*/
       </script>

      

     </body>
</html>